* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 2em;
    font-weight: 400;
}

h3 {
    font-size: 1.2em;
}

body {
    padding-left: 12%;
    padding-right: 12%;
}

figcaption {
    float: right;
    font-size: small;
}

hr {
    margin-top: 0.2em;
}


/* Header Styles */


*>#topBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.5em;
}

#source {
    display: flex;
    gap: 1em;
}

#logo {
    width: 30em;
    max-width: 30vw;
}

*>#middleBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5em;
}

nav {
    display: flex;
    justify-content: center;
    gap: 1.2em;
}

#bottomBar {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    gap: 1em;
}

/* Main Content Styles */

#gridContainer2clm {
    display: grid;
    grid-template-columns: 70% 30%;
}

.left {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 1em;


    /* debug color */
    /* background-color: rgba(112, 128, 144, 0.4); */
}

.right {
    /* debug color */
    /* background-color: rgba(127, 255, 212, 0.4); */
    padding: 1em;


}

.gridLeft {
    width: auto;
    padding: 0.5em;
    margin-top: 1em;
}

.gridRight {
    width: auto;

}



.smallP {
    font-size: 0.8rem;
}

.redFont {
    color: red;
}

.flexContainer {
    display: flex;
    gap: 1em;
    padding-left: 1.5em;
}

#gridContainer3clm {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

#grid1{
    padding: 1em 0.5em 1em 0;
    & div{
        padding: 1em 0 1em 0;
    }
}

#grid2{
    padding: 1em 0.5em 1em 0;
    & div{
        padding: 1.5em 0 1em 0;
    }
}

#grid3{
    padding: 1em 0.5em 1em 0;
    & article{
        padding: 0.5em 0 0.5em 0;
    }
}


/* Footer Styles */

footer {
    margin-top: 3em;
    margin-bottom: 2em;
}

#footerLogo {
    width: 15em;
    padding-bottom: 1em;
    padding-top: 1em;
}

#footer {
    display: flex;
    justify-content: space-between;
    gap: 1em;


    & p {
        padding-top: 0.5em;
    }

    & hr {
        padding: 0;
        margin: 0;
    }
}

.centerElement {
    text-align: center;
    padding: 1em 0 1em 0;
}


@media screen and (max-width: 600px) {
    #gridContainer2clm {
        display: grid;
        grid-template-columns: auto;
    }
    #gridContainer3clm {
        display: grid;
        grid-template-columns: auto;
    }

  }
