*{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

h2{
    font-size: 1.2em;
}

body{
    padding-left: 12%;
    padding-right: 12%;
}

* > #topBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.5em;
}

#source{
    display: flex;
    gap: 1em;
}

#logo{
    width: 30em;
    max-width: 30vw;
}

* > #middleBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5em;
}

nav{
    display: flex;
    justify-content: center;
    gap: 1.2em;
}

hr{
    margin-top: 0.2em;
}

#bottomBar{
    display: flex;
    justify-content: center;
    margin-top: 0.5em ;
    margin-bottom: 0.5em;
    gap: 1em;
}

#gridContainer{
    display: grid;
    grid-template-columns: 60% 40%;
}

.left{
    display: grid;
    grid-template-columns: 30% 70%;


    /* debug color */
    /* background-color: rgba(112, 128, 144, 0.4); */
}

.right{
    background-color: rgba(127, 255, 212, 0.4);

}

.gridRight{
    width: auto;


}

.gridLeft{
    width: auto;
    padding: 0.5em;
    margin-top: 1em;
}
