* {
    margin: 0;
    padding: 0;


}

body {
    max-height: 90%;
    overflow: hidden;
}

h4 {
    font-weight: 100;
}

.flex {
    display: flex;
    align-items: center;
}

.apart {
    justify-content: space-between;
    margin: 0.5em;

    & img {
        padding-left: 1em;
    }
}

.grey{
    color: slategray;
}

#header {
    height: 10%;
    
}


#container {
    display: grid;
    grid-template-columns: 30% 70%;
}

#leftPanel {
    height: 100vh;
    /* debug color */
    /* background-color: aquamarine; */
    padding: 1em;
    overflow-y: auto;
}

#chatHeader {
    margin-top: 0.5em;
    display: flex;
    justify-content: space-between;

    & img {
        padding-right: 1em;
    }

    & h2 {
        padding-left: 1em;
    }
}

#chatSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0 1em 0;
}

input[type=text] {
    width: 90%;
    border: solid grey 2px;
    border-radius: 10px;
    padding: 10px;
}


#rightPanel {
    height: 100vh;
    background-image: url(./images/background.jpg);
    background-color: beige;
       
}

.chatBox {
    display: flex;
    align-items: center;
    padding-left: 1em;

    & div {
        max-width: 60%;
        padding: 1em;
    }
}

.textBox {
    width: 20em;
    max-height: 10em;
    padding: 0;
    /* border: black solid 2px; */
    overflow: clip;

}

.num {
    width: 20px;
    height: 20px;
    border: solid lightskyblue 1px;
    background-color: lightskyblue;
    border-radius: 50px;
    color: white;
    text-align: center;
}

.empty {
    background-color: white;
    border: solid lightskyblue 0px;
}

.selected{
    background-color: rgba(135, 206, 250, 0.705);
    border-radius: 5px;
}



/* Right panel styles */

#rightPanelHead{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 1em 1em 1em 2em;
}

#rightPanelContact{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    height: 26px;
}

 /* chat panel head above here */

#chatTextArea{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 78%;
    overflow-y: auto;
    padding-bottom: 1em;
}

.chatTextBoxSender{
    align-self: end;
    width: fit-content;
    height: fit-content;
    max-width: 70%;
    min-width: 40%;
    background-color: rgba(177, 240, 152, 0.774);
    border-radius: 10px;
    margin-top: 1em ;
    margin-right: 1em;

    & img {
        display: block;
    }

}

.chatText{
    margin: 1em 1em 0.2em 1em ;
}

.chatTextTime{
    float: right;
    margin: 0;
    margin-bottom: 0.5em;
    margin-right: 1em;
    padding: 0;
}

.chatTextBoxReceiver{
    align-self: start;
    width: fit-content;
    height: fit-content;
    max-width: 70%;
    min-width: 40%;
    background-color: rgba(244, 244, 243, 0.888);
    border-radius: 10px;
    margin-top: 1em ;
    margin-left: 1em;

    & img {
        display: block;
    }

}

/* chat area footer below here */

#rightPanelFoot{
    position:absolute;
    bottom: 0;
    width: 68%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5em ;
    padding-left: 1em;
    padding-right: 1em;
    height: fit-content;
    background-color: whitesmoke;

    & input[type=text]{
        width: 80%;
        height: 1.5em;
    }

}



/* media resizing */

@media all and (max-width:1000px){
    #leftPanel {
        display: none;
    }
    #rightPanel {
        width: 100vw
           
    }
    #rightPanelFoot{

        width: 98%;

    }

}
